.detail {
  max-width: 950px;
  margin: auto;
}

table.table-striped {
  display: block;
  height: 500px;
  width: 100%;
  /* Optional */
  /* border-collapse: collapse; */
  border-spacing: 0;
  border: 2px grey;
  overflow-y: visible;
  overflow-x: hidden;
}

.review {
  display: block;
  height: 100px;
  font-size:12px;
  overflow-y: auto;
  overflow-x: hidden;
}

.updatesBar {
  background-color: #a6bbef;
  width: 50px;
  color: #fff;
  height: 18px;
  line-height: 18px;
  overflow: hidden;
  padding-left: 0;
}

.card:hover .card-img-top {
  opacity: 0.3;
}

.card:hover .middle {
  opacity: 1;
}

.card-text {
  position: absolute;
  top: 166px;
  right: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: khaki;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

img {
  width: 90%; // how much you want
  height: 190px;
  margin-left: auto;
  margin-right: auto;
}

#first-img {
  height: 290px;
  width: 100%;
}

.card-title {
  height: 20px;
  font-size: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.card {
  clear: left;
}
